<div class="sidebar-container">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <a href="#" class="home">
        <img
          src="../../../../../../../assets/images/logo-nav.png"
          alt="AdminLTE Logo"
          class=""
        >
        <!-- <span class="brand-text font-weight-light">Admin</span> -->
      </a>

      <!-- <h1 class="sidebar-app-name">Yuvi App</h1> -->

      <button mat-icon-button (click)="toggleDarkTheme()">
        <mat-icon>{{ isThemeDark ? "dark_mode" : "light_mode" }}</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
