<section class="auth-container">
  <mat-card class="auth-card">
    <mat-card-content>
      <section class="mb-3 text-center">
        <mat-icon class="auth-card__icon" role="auth-img" svgIcon="car-key"></mat-icon>
      </section>
  
      <form class="mb-3" [formGroup]="loginFormGroup" (ngSubmit)="onSubmit(loginFormGroup.value)">
        <app-text-control
          [params]="config.control.email"
          [formControlName]="emailPropertyName"
        ></app-text-control>
  
        <app-input-password-control
          [params]="config.control.password"
          [formControlName]="passwordPropertyName"
        ></app-input-password-control>
  
        <app-reuseble-button
          [params]="config.button.login"
          [isDisabled]="!loginFormGroup.valid || loginFormSubmitted"
        ></app-reuseble-button>
      </form>
    </mat-card-content>
  </mat-card>
</section>
