<div class="sidebar-container">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <button
        mat-icon-button
        (click)="toggleNavMenu()"
      >
        <mat-icon *ngIf="(isNavOpened | async) === false">menu</mat-icon>
        <mat-icon *ngIf="(isNavOpened | async) === true">close</mat-icon>
      </button>

      <h1 class="sidebar-app-name">Yuvi App</h1>
      

      <button
        mat-icon-button
        (click)="toggleDarkTheme()"
      >
        <mat-icon>{{ isThemeDark ? "dark_mode" : "light_mode" }}</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
