@import '../abstracts/variables.scss';

.password-strength {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0.5rem;

  & li {
    height: 0.5rem;
    border-radius: 5px;
  }
}

.password-strength-background {
  background-color: $gray-color;
}

.weak-password {
  background-color: $red-color;
}

.average-password {
  background-color: $orange-color;
}

.good-password {
  background-color: $green-color;
}

.verygood-password {
  background-color: $light-green-color;
}
