.thing-node {
  padding: 2rem 3rem;

  &__tree {
    margin-top: 2rem;
  }


  &__footer {
    margin-top: 2rem;
    display: flex;
    justify-content: flex-end;
  }

  &__tree-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0.5rem 1rem;

    &--left {
      display: flex;
      align-items: center;

      & > p {
        line-height: normal;
      }
    }
  }
}