<section class="container-center">
  <mat-card class="server-error-card">
    <mat-card-content>
      <section class="d-grid gap-1 text-center">
        <img src="../../../../../assets/images/404.png" alt="{{ '404.content.subTitle' | translate }}">
        <h2>{{ '404.content.subTitle' | translate }}</h2>
        <p>{{ '404.link.redirect' | translate }} <a [routerLink]="path"><strong>{{ path }}</strong></a></p>

        <app-reuseble-button
          class="mt-2"
          [params]="config.button.home"
          (click)="onClickRedirect()"
        ></app-reuseble-button>
      </section>
    </mat-card-content>
  </mat-card>
</section>