<mat-form-field class="d-block mb-1 width100" [appearance]="params.appearance">
  <input matInput placeholder="{{ params.placeholder | translate }}" [type]="hide ? 'password' : 'text'" [formControl]="valueControl"/>
  <mat-label><span>{{ params.label | translate }}</span></mat-label>
  <mat-hint><span>{{ params.hint | translate }}</span></mat-hint>
  <button *ngIf="valueControl.value" mat-icon-button matSuffix (click)="hide= !hide">
    <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
  </button>

  <button *ngIf="valueControl.value" mat-icon-button matSuffix (click)="valueControl.reset()">
    <mat-icon>close</mat-icon>
  </button>

  <mat-error *ngIf="valueControl.invalid">
    <app-validation-messages [control]="valueControl" [validatorErrorMessage]="params.validatorErrorMessage"></app-validation-messages>
  </mat-error>
</mat-form-field>
